
* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    margin-top: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-div {
    top: 50%;
    height: 100px;
    width: 50%;
    background-color: rgb(132, 59, 228);
    display: flex;
    padding: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(12, 4, 4);
}

input {
    margin: 10px;
}

.new-div {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid rgb(97, 12, 167);
    box-shadow: 0 0 10px black;
    margin-top: 30px;
}
